doctype html
html
  head
    title Telegram Chart App
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/dist/main.css")
  body
    .wrapper
      h4.caption Followers
      .chart
        svg.graph(xmlns='http://www.w3.org/2000/svg')
          //- g#yGrid.grid.y-grid
          //-   line(x1='0', x2='900', y1='380', y2='380')
          //- g.labels.x-labels
          //-   text(x='100', y='400') 2008
          //-   text(x='246', y='400') 2009
          //-   text(x='392', y='400') 2010
          //-   text(x='538', y='400') 2011
          //-   text(x='684', y='400') 2012
          //- g.labels.y-labels
          //-   text(x='0', y='15') 15
          //-   text(x='0', y='131') 10
          //-   text(x='0', y='248') 5
          //-   text(x='0', y='370') 0
          g.charts
      .min-chart
        svg(xmlns='http://www.w3.org/2000/svg', class="minChartSvg")
        .box
          .box__l
          .box__r
      .toggles
        label().toggle
          input(type="checkbox").toggle__check
          span.toggle__round
            span.toggle__tick
          span.toggle__text Joined
        label().toggle.toggle_left-followers
          input(type="checkbox").toggle__check
          span.toggle__round
            span.toggle__tick
          span.toggle__text Left

          
  script(src="/dist/bundle.js")
