:root {
  --base-bg: #fff;
  --base-color: #000;
  --base-chart-color: #97a3ab;
  --joined-chart: #39c33d;
  --left-chart: #f34b42;
  --min-chart-fill: #f5f9fb;
  --stroke-color: #e8edf1;

  --dark-bg: #1f2b3c;
}
